@import './font.css';

:root{
  --green : #16403e;
  --grey: #acb1ae;
  --yellow : #fffef8;
  --canelaRegular: 'Canela-regular';
  --canelaRegularItalic: 'Canela-RegularItalic';
  --canelaBold: 'Canela-bold';
  --canelaLight: 'Canela-light';
  --canelaMedium: 'Canela-medium';
  --canelaThin: 'Canela-thin';
  --GTAmericaExpandedBlack: 'GT-America-expanded-black';
  --GTAmericaRegular: 'GT-America-regular';
  --GTAmericaMedium: 'GT-America-medium';
}

/* @import 'index2.css'; */
