.container-fluid{
  padding:0;
  overflow: hidden;
}

.top{
  background-color: var(--green);
  height: 70vh;
  position: relative;
}

.top__title{
  position: absolute;
  top: 300px;
  font-size: 35px;
  font-family: var(--canelaLight);
  color: var(--white);
  text-align: center;
  z-index: 1;
  line-height: 42px;
}

main{
  margin-top: -100px;
}

.hero__image div{
  height: 200px;
  background-image: url('../img/tag.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

/*SECTION TEXT*/
.organisation__text{
  padding: 0;
  margin-top: 50px;
}

.organisation__intro{
  font-family: var(--canelaLight);
  font-size: 24px;
  margin-bottom: 70px;
  line-height: 36px;
  text-align: left;
}

.organisation__p__all{
  margin-bottom: 70px;
}

.organisation__p{
  margin-bottom: 40px;
  text-align: left;
  padding: 0;
  font-family: var(--GTAmericaRegular);
  font-size: 18px;
  line-height: 35px;
}

/*COLLAPSE*/
.organisation__card{
  display: none;
}

.organisation__accordion{
  margin-bottom: 200px;
  display: block;
}

.card {
  border: none;
  position: static;
  background: none;
  margin: 10px 0;
  background-color: var(--green);
  border-radius: 0;
}

.card-header {
  position: relative;
  border: 0;
  z-index: 1;
  transition: .6s;
  padding: 20px 0;
  background-color: transparent;
}

.btn {
  padding: 0;
  white-space: inherit;
}

.btn-link {
  color: var(--white);
  font-size: 20px;
  font-family: var(--GTAmericaBold);
  display: flex;
  transition: .6s;
  max-width: 90%;
  text-align: left;
}

.card-body p{
  font-size: 18px;
  font-family: var(--GTAmericaRegular);
  line-height: 35px;
  color: var(--white);
}

.card:hover {
  cursor: pointer;
}

.card-header:hover .btn-link {
  text-decoration: none;
  color: var(--white);
}

.horizontal {
  width: 14px;
  height: 3px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .6s;
  transform: translate(-50%, -50%);
}

.vertical {
  width: 3px;
  height: 14px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .6s;
  transform: translate(-50%, -50%);
}

.plus {
  position: absolute;
  height: 14px;
  width: 14px;
  right: 15px;
  margin-top: 5px;
  transform: rotate(135deg);
  transition: .3s ease;
  margin-left: 500px;
}

.card-flex.collapsed .plus {
  transform: rotate(90deg);
  transition: .3s ease;
}

  /*CURSOR*/
  .cursor__green{
    display: none;
  }

  @media screen and (min-width : 768px) {
    .top__title{
      line-height: 60px;
    }

    main{
      margin-top: -150px;
    }

    .hero__image div{
      height: 300px;
    }

  }

  @media screen and (min-width : 992px) {
    .top__title{
      text-align: left;
      top: 275px;
    }

    main{
      margin-top: -200px;
    }

    .hero__image div{
      height: 400px;
    }

    .organisation__p__all{
      display: flex;
    }

    .organisation__p{
      padding: 0 15px;
    }

    .organisation__accordion{
      display: none;
    }

    .organisation__card{
      display: flex;
      margin-bottom: 120px;
    }

    .card__content:first-child{
      margin-top: 150px;
    }

    .cardOne, .cardThree{
      margin-right: 70px;
      margin-bottom: 30px;
    }

    .card{
      background-color: var(--green);
      padding: 70px 50px;
      cursor: none;
    }

    .card h2 {
      color: var(--white);
      font-size: 20px;
      font-family: var(--GTAmericaBold);
      display: flex;
      transition: .6s;
      max-width: 90%;
      text-align: left;
    }

    .card p{
      font-size: 18px;
      font-family: var(--GTAmericaRegular);
      line-height: 35px;
      color: var(--white);
      margin-top: 20px;
    }

    /*CURSOR*/
    * {
      cursor: none;
    }

    .cursor__green {
      display: block;
      height: 15px;
      width:  15px;
      border-radius: 50%;
      position: fixed;
      z-index: 9999;
      transform: translate(-50%, -50%);
      pointer-events: none;
      mix-blend-mode: hard-light;
    }

    .cursor__green.cursor__green-shadow {
      background: var(--green);
      transition: top .15s, left .15s,
                  width .5s, height .5s,
                  background .15s;
      transition-timing-function: ease-out;
    }

    .cursor__green-shadow.clickActive {
      height: 75px;
      width: 75px;
      z-index: 9998;
    }

    .click{
      display: none;
      position : absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--white);
      font-family: var(--GTAmericaExpandedBlack);
      font-size: 12px;
    }

    .click.clickActive{
      display: block;
    }


    @media screen and (min-width : 1200px) {
      .top{
        height: 90vh;
      }

      .top__title{
        top: 400px;
      }

      main{
        margin-top: -250px;
      }

      .hero__image div{
        height: 500px;
      }

      /*SECTION TEXT*/
      .organisation__intro{
        font-size: 24px;
        margin-bottom: 70px;
        line-height: 36px;
        text-align: left;
      }

      .organisation__p__all{
        margin-bottom: 70px;
      }

      .organisation__p{
        font-size: 16px;
        line-height: 30px;
      }

    /*CARD*/
      .card p{
        font-size: 16px;
        line-height: 30px;
      }

    }
  }
