.appearOverlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--green);
  transition: all .8s cubic-bezier(.77,0,.175,1);
  z-index: 999;
}

.appearOverlay.foldUp{
  top: 100vh;
  height: 0;
}
